.container {
    border-radius: 20px;
    background: #fff;
    padding: 20px 40px;
    margin-block: 20px;
    background-color: black;
    cursor: grab;
    color: #999;
}

.placeholder {
    color: #ccc;
    text-align: center;
    padding: 20px 10px;
    border: 2px dashed #ccc;
    border-radius: 4px;
    background-color: #999;
}